#basitech{
    animation: myanimation 5s infinite;
}
@keyframes myanimation {
    0% {background-color: red; left:0px; top:0px;}
    25% {background-color: yellow; left:200px; top:0px;}
    50% {background-color: blue; left:200px; top:200px;}
    75% {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}
#vs{
    animation:slidein 3s infinite;
}
@keyframes slidein{
    from {
       transform: translateX(0);
        color: blue;
    }

    to {
        transform: translateX(100px);
        color: red;
    }
}